<launch>

    <include file="$(find ar_tracking)/launch/fetch_bundle_curg.launch"/>
	<!-- <include file="$(find ar_tracking)/launch/publish_transform.launch"/> -->

	<include file="$(find filter_tf)/launch/fetch22.launch"/> 

    <rosparam command="load" file="$(find vision_launch)/configs/fetch22.yaml" />
    <include file="$(find pc_filter)/launch/pc_filter.launch">
    	<arg name="config_file_name" value="fetch22" />
		<arg name="namespace" value="/" />
    </include>

</launch>
