<launch>

	<!-- <arg name="robot" default="mico"/>-->  
	<arg name="robot" default="fetch22"/>  

	<arg name="using_fetch" default="false"/>  	 
	<arg name="using_mico" default="false"/>
	<arg name="using_pr2" default="true"/>


	<group if="$(arg using_fetch)">
		<!-- What topics checkerboard detector needs to subscribe to -->
		<arg name="image_topic" default="/head_camera/rgb/image_raw" />
		<arg name="camera_info_topic" default="/head_camera/rgb/camera_info" />
		<arg name="frame_id" default="/head_camera_rbg_optical_frame" />	
		<arg name="pc_topic" default="/head_camera/depth_registered/points" />
		  	
		<param name="pc_topic" type="string" value="$(arg pc_topic)"/>
	
		<!-- These are the checkerboard params-->
	  	<param name="frame_id" type="string" value="$(arg frame_id)"/>
  		<param name="grid0_size_y" type="int" value="4"/>
  		<param name="board_type" value="chess"/>
  		<param name="rect0_size_x" type="double" value="0.035"/>
  		<param name="rect0_size_y" type="double" value="-0.035"/>
  		<param name="type0" value="/world"/>
  		<param name="~use_simple_tf" type="bool" value="true"/>
  		<param name="message_throttle" type="int" value="1"/>
		<!--End of checkerboard params-->


		<node pkg="checkerboard_detector" type="checkerboard_detector" name="checkerboard_detector" >
        	        <remap from="image" to="$(arg image_topic)" />
                	<remap from="camera_info" to="$(arg camera_info_topic)" />
	        </node>
	</group>

	<group if="$(arg using_mico)">
		<!-- What topics checkerboard detector needs to subscribe to -->
		<arg name="image_topic" default="/head_camera/rgb/image_raw" />
		<arg name="camera_info_topic" default="/head_camera/rgb/camera_info" />
		<arg name="frame_id" default="/head_camera_rbg_optical_frame" />	
		<arg name="pc_topic" default="/head_camera/depth_registered/points" />
		  	
		<param name="pc_topic" type="string" value="$(arg pc_topic)"/>
	
		<!-- These are the checkerboard params-->
	  	<param name="frame_id" type="string" value="$(arg frame_id)"/>
  		<param name="grid0_size_y" type="int" value="4"/>
  		<param name="board_type" value="chess"/>
  		<param name="rect0_size_x" type="double" value="0.035"/>
  		<param name="rect0_size_y" type="double" value="-0.035"/>
  		<param name="type0" value="/world"/>
  		<param name="~use_simple_tf" type="bool" value="true"/>
  		<param name="message_throttle" type="int" value="1"/>

		<node pkg="checkerboard_detector" type="checkerboard_detector" name="checkerboard_detector" >
        	        <remap from="image" to="$(arg image_topic)" />
                	<remap from="camera_info" to="$(arg camera_info_topic)" />
	        </node>
	</group>

	<group if="$(arg using_pr2)">
		<!-- What topics checkerboard detector needs to subscribe to -->
		<arg name="image_topic" default="/kinect2/sd/image_color_rect" />
		<arg name="camera_info_topic" default="/kinect2/sd/camera_info" />
		<arg name="frame_id" default="/head_mount_kinect2_rgb_optical_frame" />
		<arg name="pc_topic" default="/kinect2/sd/points" />

		<param name="pc_topic" type="string" value="$(arg pc_topic)"/>
	
		<!-- These are the checkerboard params-->
	  	<param name="frame_id" type="string" value="$(arg frame_id)"/>
  		<param name="grid0_size_y" type="int" value="4"/>
  		<param name="board_type" value="chess"/>
  		<param name="rect0_size_x" type="double" value="0.035"/>
  		<param name="rect0_size_y" type="double" value="-0.035"/>
  		<param name="type0" value="/world"/>
  		<param name="~use_simple_tf" type="bool" value="true"/>
  		<param name="message_throttle" type="int" value="1"/>
		<!--End of checkerboard params-->

		<node pkg="checkerboard_detector" type="checkerboard_detector" name="checkerboard_detector" >
        	        <remap from="image" to="$(arg image_topic)" />
                	<remap from="camera_info" to="$(arg camera_info_topic)" />
	        </node>
	  	<!-- node pkg="checkerboard_detector" type="objectdetection_tf_publisher.py" name="checkerboard_tf_publisher" /-->
	</group>

  	<node pkg="checkerboard_detector" type="objectdetection_tf_publisher.py" name="checkerboard_tf_publisher" output="screen" />
	
	<include file="$(find pc_filter)/launch/pc_filter.launch"/>	

</launch>
